In [21]:
#Importing the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### About the data set
The data contains details of employees absent at workplace. Below are the attributes:

Attribute Information:

Individual identification (ID)
Reason for absence (ICD).
Absences attested by the International Code of Diseases (ICD) stratified into 21 categories (I to XXI) as follows:
* I Certain infectious and parasitic diseases
* II Neoplasms
* III Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism
* IV Endocrine, nutritional and metabolic diseases
* V Mental and behavioural disorders
* VI Diseases of the nervous system
* VII Diseases of the eye and adnexa
* VIII Diseases of the ear and mastoid process
* IX Diseases of the circulatory system
* X Diseases of the respiratory system
* XI Diseases of the digestive system
* XII Diseases of the skin and subcutaneous tissue
* XIII Diseases of the musculoskeletal system and connective tissue
* XIV Diseases of the genitourinary system
* XV Pregnancy, childbirth and the puerperium
* XVI Certain conditions originating in the perinatal period
* XVII Congenital malformations, deformations and chromosomal abnormalities
* XVIII Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified
* XIX Injury, poisoning and certain other consequences of external causes
* XX External causes of morbidity and mortality
* XXI Factors influencing health status and contact with health services.

And 7 categories without (CID) patient follow-up (22), medical consultation (23), blood donation (24), laboratory examination (25), unjustified absence (26), physiotherapy (27), dental consultation (28).

* Month of absence
* Day of the week (Monday (2), Tuesday (3), Wednesday (4), Thursday (5), Friday (6))
* Seasons
* Transportation expense
* Distance from Residence to Work (kilometers)
* Service time
* Age
* Work load Average/day
* Hit target
* Disciplinary failure (yes=1; no=0)
* Education (high school (1), graduate (2), postgraduate (3), master and doctor (4))
* Son (number of children)
* Social drinker (yes=1; no=0)
* Social smoker (yes=1; no=0)
* Pet (number of pet)
* Weight
* Height
* Body mass index
* Absenteeism time in hours (target)

In [5]:
#Loading the dataset
absent = pd.read_csv("Absenteesim.csv")
absent

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239.554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239.554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239.554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,11,14,7,3,1,289,36,13,33,264.604,...,0,1,2,1,0,1,90,172,30,8
736,1,11,7,3,1,235,11,14,37,264.604,...,0,3,1,0,0,1,88,172,29,4
737,4,0,0,3,1,118,14,13,40,271.219,...,0,1,1,1,0,8,98,170,34,0
738,8,0,0,4,2,231,35,14,39,271.219,...,0,1,2,1,0,2,100,170,35,0
739,35,0,0,6,3,179,45,14,53,271.219,...,0,1,1,0,0,1,77,175,25,0

In [72]:
#Clean columns
absent = absent.rename(columns = {"Reason for absence": "reason", "Month of absence": "month", "Day of the week": "day", "Distance from Residence to Work": "distance", "Seasons": "seasons", "Transportation expense": "transport_expense", "Service time": "service_time", "Age": "age", "Work load Average/day": "workload_avg_perday", "Hit target": "hit_target", "Disciplinary failure": "discipline_failure", "Education": "education", "Son": "children", "Social drinker": "drinker", "Social smoker": "smoker", "Pet": "pet", "Height": "height", "Weight": "weight", "Body mass index": "bmi", "Absenteeism time in hours": "absent_hours"})
absent

,ID,reason,month,day,seasons,transport_expense,distance,service_time,age,Work load Average/day,...,children,drinker,smoker,pet,weight,height,bmi,absent_hours,absent_hours_cost,healthy_lifestyle_score
0,11,26,7,3,1,289,36,13,33,239.554,...,2,1,0,1,90,172,30,4,60,1
1,36,0,7,3,1,118,13,18,50,239.554,...,1,1,0,0,98,178,31,0,0,1
2,3,23,7,4,1,179,51,18,38,239.554,...,0,1,0,0,89,170,31,2,30,1
3,7,7,7,5,1,279,5,14,39,239.554,...,2,1,1,0,68,168,24,4,60,1
4,11,23,7,5,1,289,36,13,33,239.554,...,2,1,0,1,90,172,30,2,30,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,11,14,7,3,1,289,36,13,33,264.604,...,2,1,0,1,90,172,30,8,120,1
736,1,11,7,3,1,235,11,14,37,264.604,...,1,0,0,1,88,172,29,4,60,2
737,4,0,0,3,1,118,14,13,40,271.219,...,1,1,0,8,98,170,34,0,0,1
738,8,0,0,4,2,231,35,14,39,271.219,...,2,1,0,2,100,170,35,0,0,1
739,35,0,0,6,3,179,45,14,53,271.219,...,1,0,0,1,77,175,25,0,0,2

In [48]:
absent.describe()

,ID,reason,month,day,seasons,transport_expense,distance,service_time,age,Work load Average/day,...,discipline_failure,education,children,drinker,smoker,pet,weight,height,bmi,Absenteeism time in hours
count,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,...,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000
mean,18.017568,19.216216,6.324324,3.914865,2.544595,221.329730,29.631081,12.554054,36.450000,271.490235,...,0.054054,1.291892,1.018919,0.567568,0.072973,0.745946,79.035135,172.114865,26.677027,6.924324
std,11.021247,8.433406,3.436287,1.421675,1.111831,66.952223,14.836788,4.384873,6.478772,39.058116,...,0.226277,0.673238,1.098489,0.495749,0.260268,1.318258,12.883211,6.034995,4.285452,13.330998
min,1.000000,0.000000,0.000000,2.000000,1.000000,118.000000,5.000000,1.000000,27.000000,205.917000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,56.000000,163.000000,19.000000,0.000000
25%,9.000000,13.000000,3.000000,3.000000,2.000000,179.000000,16.000000,9.000000,31.000000,244.387000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,69.000000,169.000000,24.000000,2.000000
50%,18.000000,23.000000,6.000000,4.000000,3.000000,225.000000,26.000000,13.000000,37.000000,264.249000,...,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,83.000000,170.000000,25.000000,3.000000
75%,28.000000,26.000000,9.000000,5.000000,4.000000,260.000000,50.000000,16.000000,40.000000,294.217000,...,0.000000,1.000000,2.000000,1.000000,0.000000,1.000000,89.000000,172.000000,31.000000,8.000000
max,36.000000,28.000000,12.000000,6.000000,4.000000,388.000000,52.000000,29.000000,58.000000,378.884000,...,1.000000,4.000000,4.000000,1.000000,1.000000,8.000000,108.000000,196.000000,38.000000,120.000000

In [90]:
#Engineer new features
absent["absent_hours_cost"] = absent["absent_hours"] * 15 # assuming 15 euros an hour average, in Portugal 3 years ago in the manufacturing sector

absent["healthy_lifestyle_score"] = (absent["smoker"] == 0).astype(int) + (absent["drinker"] == 0).astype(int) + (absent["bmi"] < 25).astype(int)

absent["productivity_loss"] = absent["absent_hours"] / (40*4) * 100 #standard contract in EU per month

def group_reason (code): 
    if code in range (1,5) or code in range (6,15): 
        return "Health-related Illness"
    elif code == 5:
        return "Mental/Behavioural" 
    elif code in range(15, 18): 
        return "Pregnancy/ Family"
    elif code in range (19,21):
        return "Injury/Accident"
    elif code in range(21, 26) or code == 27 or code == 28:
        return "Planned Visit"
    elif code == 26:
        return "Unjustified Absence"
    else:
        return "Other/ Unspecified"
    
    
absent["reason_group"] = absent["reason"].apply(group_reason)

def absent_cat (hours):
    if hours < 40:
        return "Low"
    elif hours in range (40,80):
        return "Medium"
    else:
        return "High"

absent["absence_category"] = absent["absent_hours"].apply(absent_cat)

absent.describe()

,ID,reason,month,day,seasons,transport_expense,distance,service_time,age,Work load Average/day,...,drinker,smoker,pet,weight,height,bmi,absent_hours,absent_hours_cost,healthy_lifestyle_score,productivity_loss
count,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,...,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000
mean,18.017568,19.216216,6.324324,3.914865,2.544595,221.329730,29.631081,12.554054,36.450000,271.490235,...,0.567568,0.072973,0.745946,79.035135,172.114865,26.677027,6.924324,103.864865,1.716216,4.327703
std,11.021247,8.433406,3.436287,1.421675,1.111831,66.952223,14.836788,4.384873,6.478772,39.058116,...,0.495749,0.260268,1.318258,12.883211,6.034995,4.285452,13.330998,199.964972,0.777217,8.331874
min,1.000000,0.000000,0.000000,2.000000,1.000000,118.000000,5.000000,1.000000,27.000000,205.917000,...,0.000000,0.000000,0.000000,56.000000,163.000000,19.000000,0.000000,0.000000,0.000000,0.000000
25%,9.000000,13.000000,3.000000,3.000000,2.000000,179.000000,16.000000,9.000000,31.000000,244.387000,...,0.000000,0.000000,0.000000,69.000000,169.000000,24.000000,2.000000,30.000000,1.000000,1.250000
50%,18.000000,23.000000,6.000000,4.000000,3.000000,225.000000,26.000000,13.000000,37.000000,264.249000,...,1.000000,0.000000,0.000000,83.000000,170.000000,25.000000,3.000000,45.000000,2.000000,1.875000
75%,28.000000,26.000000,9.000000,5.000000,4.000000,260.000000,50.000000,16.000000,40.000000,294.217000,...,1.000000,0.000000,1.000000,89.000000,172.000000,31.000000,8.000000,120.000000,2.000000,5.000000
max,36.000000,28.000000,12.000000,6.000000,4.000000,388.000000,52.000000,29.000000,58.000000,378.884000,...,1.000000,1.000000,8.000000,108.000000,196.000000,38.000000,120.000000,1800.000000,3.000000,75.000000

In [94]:
#Save cleaned data set
absent.to_csv("absenteesim_clean.csv", index=False)